
## root directory

# ignore IntelliJ settings
.idea/

## ___________________________________________
## app directory (Ruby)

# ignore sensitive config files
/app/config/credentials.yml.enc
/app/config/master.key

# ignore logs (keep directory)
*.log
/app/log/*
!/app/log/.keep

# ignore node_modules
/app/node_modules

# ignore tmp (keep directory)
/app/tmp/*
!/app/tmp/.keep

# ignore vendor (keep directory)
/app/vendor/*
!/app/vendor/.keep

## ___________________________________________
## arm directory (Azure Resource Manager)

# none (yet)
